
body {
    color: aliceblue;
    background-color: black;
    

}
.Yousef {
    color: rgb(201, 32, 32);
background-color: rgb(1, 1, 48);
padding: 50px;
text-align: center;
width: 50
%;
position: fixed;
}
